<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MastodonSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MastodonSS.Properties.Settings>
            <setting name="TwitterLength" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="MastodonLength" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SequenceFormat" serializeAs="String">
                <value>##00</value>
            </setting>
            <setting name="LeftFile" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TwitterLongLength" serializeAs="String">
                <value>280</value>
            </setting>
        </MastodonSS.Properties.Settings>
    </applicationSettings>
</configuration>